<%- include("partials/header.ejs") %>

<a href="/">blog post</a>

<h1><%= article.articleName %></h1>
<p> <%= article.articleText %> </p>

<a href="/edit-post/<%=article.id%>">edit</a>

<form action="/delete/<%= article.id %>" method="POST">
    <button type="submit">Delete</button>
</form>

<%- include("partials/footer.ejs") %>