<%- include("partials/header", locals) %>

<a class="go-home" href="/">blog post</a>

<h1 class="article-name"><%= article.articleName %></h1>
<p class="article-text"> <%= article.articleText %> </p>

<a class="btn" href="/edit-post/<%=article.id%>">edit</a>

<form action="/delete/<%= article.id %>" method="POST">
    <button class="btn submit-btn" type="submit">delete</button>
</form>

<%- include("partials/footer.ejs") %>