<%- include("partials/header", locals) %>

<div class="go-home-wrapper">
  <a class="go-home-btn" href="/">blog post</a>
</div>

<div class="article-wrapper">
  <h1 class="article-name"><%= article.articleName %></h1>
  <pre class="article-text"> <%= article.articleText %> </pre>

  <a class="btn edit-btn" href="/edit-post/<%=article.id%>">edit</a>

  <form class="delete-btn-form" action="/delete/<%= article.id %>" method="POST">
      <button class="btn delete-btn" type="submit">delete</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>