
<%- include("partials/header", locals) %>

<div class="go-home-wrapper">
  <a class="go-home-btn" href="/">blog post</a>
</div>

<form class="form-wrapper" action="/edit/<%=article.id%>" method="POST">
    <input class="form edit-form form-name" type="text" name="articleName" value="<%=article.articleName%>" required>


    <textarea class="form edit-form form-text" name="articleText" id=""><%=article.articleText%></textarea>

    <button class="btn submit-btn" type="submit">save</button>
    <a class="btn discard-btn" href="/"> discard</a>
  </form>

<%- include("partials/footer.ejs") %>
